body {
	-moz-user-select : none;
	-webkit-user-select : none;
	-o-user-select : none;
	user-select : none;
	background-color: #ccc;
}

#header {
	width: 80%;
	height: 100px;
	margin: auto auto;
	background-color: #ffe9c5;

	border: 2px solid #ff4f0b;

	-moz-box-shadow: 10px 10px 1px 0px #ff4f0b;
	-webkit-box-shadow: 10px 10px 1px 0px #ff4f0b;
	-o-box-shadow: 10px 10px 1px 0px #ff4f0b;
	box-shadow: 10px 10px 1px 0px #ff4f0b;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#ff4f0b, Direction=134, Strength=1);
}

#header h1 {
	font-size: 60px;
	text-align: center;
	margin-top: 10px;
	text-shadow: 0px 25px 1px rgba(255, 79, 11, 0.35);
	color: #ff4f0b;
}

#content {
	position: relative;
	max-width: 1100px;
	width: 60%;
	max-height: 700px;
	background-color: #646809;
	margin: auto auto;
	margin-top: 50px;

	border: 5px solid #000;

	-moz-box-shadow: 10px 10px 1px 0px #aaa;
	-webkit-box-shadow: 10px 10px 1px 0px #aaa;
	-o-box-shadow: 10px 10px 1px 0px #aaa;
	box-shadow: 10px 10px 1px 0px #aaa;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#646809, Direction=134, Strength=1);
}

#tools {
	margin: auto auto;
	margin-top: 20px;
	border: 3px solid #000;
	width: 60%;
	height: 80px;
	background-color: #ffe9c5;

	-moz-box-shadow: 10px 10px 1px 0px #aaa;
	-webkit-box-shadow: 10px 10px 1px 0px #aaa;
	-o-box-shadow: 10px 10px 1px 0px #aaa;
	box-shadow: 10px 10px 1px 0px #aaa;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#646809, Direction=134, Strength=1);
}

.pixel {
	position: absolute;
}


/* ===== TOOLS BAR ===== */

#color_tools {
	text-align: center;
	margin: auto auto;
	margin-top: 5px;
	margin-bottom: 20px;
}

#color_tools button {
	width: 200px;
	height: 60px;
	font-size: 30px;
	margin-right: 10px;
	text-transform: uppercase;
	background-color: #646809;
	color: #ff4f0b;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 10px 10px 5px #000;
	-webkit-box-shadow: 10px 10px 5px #000;
	-o-box-shadow: 10px 10px 5px #000;
	box-shadow: 10px 10px 5px #000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5);
}

#color_tools button:hover {
	background-color: #ff4f0b;
	color: #646809;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}




/* ===== TOOLS BAR COLOR ===== */

#toolbar {
	width: 50%;
	height: 200px;
	border: 2px solid #ff4f0b;
}

/* #toolbar > .pen{
	border: 2px solid #ff4f0b;
}

#toolbar > .pen.pen-white{
	background-color: #fff;
	-moz-box-shadow: 10px 10px 5px #fff;
	-webkit-box-shadow: 10px 10px 5px #fff;
	-o-box-shadow: 10px 10px 5px #fff;
	box-shadow: 10px 10px 5px #fff;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5);
}
#toolbar > .pen.pen-blue{
	background-color: blue;
	-moz-box-shadow: 10px 10px 5px blue;
	-webkit-box-shadow: 10px 10px 5px blue;
	-o-box-shadow: 10px 10px 5px blue;
	box-shadow: 10px 10px 5px blue;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5);
}
#toolbar > .pen.pen-purple{
	background-color: #A54BFF;
	-moz-box-shadow: 10px 10px 5px #A54BFF;
	-webkit-box-shadow: 10px 10px 5px #A54BFF;
	-o-box-shadow: 10px 10px 5px #A54BFF;
	box-shadow: 10px 10px 5px #A54BFF;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5);
}
#toolbar > .pen.pen-yellow{
	background-color: yellow;
	-moz-box-shadow: 10px 10px 5px yellow;
	-webkit-box-shadow: 10px 10px 5px yellow;
	-o-box-shadow: 10px 10px 5px yellow;
	box-shadow: 10px 10px 5px yellow;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5);
}
#toolbar > .pen.pen-black{
	background-color: #000;
	-moz-box-shadow: 10px 10px 5px #000;
	-webkit-box-shadow: 10px 10px 5px #000;
	-o-box-shadow: 10px 10px 5px #000;
	box-shadow: 10px 10px 5px #000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5);
}
#toolbar > .pen.pen-green{
	background-color: green;
	-moz-box-shadow: 10px 10px 5px green;
	-webkit-box-shadow: 10px 10px 5px green;
	-o-box-shadow: 10px 10px 5px green;
	box-shadow: 10px 10px 5px green;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5);
}
#toolbar > .pen.pen-pink{
	background-color: #FF9FE7;
	-moz-box-shadow: 10px 10px 5px #FF9FE7;
	-webkit-box-shadow: 10px 10px 5px #FF9FE7;
	-o-box-shadow: 10px 10px 5px #FF9FE7;
	box-shadow: 10px 10px 5px #FF9FE7;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5);
}
#toolbar > .pen.pen-red{
	background-color: red;
	-moz-box-shadow: 10px 10px 5px red;
	-webkit-box-shadow: 10px 10px 5px red;
	-o-box-shadow: 10px 10px 5px red;
	box-shadow: 10px 10px 5px red;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5);
}

#toolbar {
  position: absolute;
  right: 50px;
  top: 200px;
  bottom: 0;
  text-align: center;
}

#toolbar > .pen {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  margin: 12px;
} */