body {
	-moz-user-select : none;
	-webkit-user-select : none;
	-o-user-select : none;
	user-select : none;
}

#header {
	width: 80%;
	height: 100px;
	margin: auto auto;
	background-color: #ffe9c5;

	border: 2px solid #ff4f0b;

	-moz-box-shadow: 10px 10px 1px 0px #ff4f0b;
	-webkit-box-shadow: 10px 10px 1px 0px #ff4f0b;
	-o-box-shadow: 10px 10px 1px 0px #ff4f0b;
	box-shadow: 10px 10px 1px 0px #ff4f0b;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#ff4f0b, Direction=134, Strength=1);
}

#header h1 {
	font-size: 60px;
	text-align: center;
	margin-top: 10px;
	text-shadow: 0px 25px 1px rgba(255, 79, 11, 0.35);
	color: #ff4f0b;
}

#content {
	position: relative;
	max-width: 1100px;
	width: 60%;
	max-height: 700px;
	background-color: #646809;
	margin: auto auto;
	margin-top: 50px;

	border: 5px solid #000;

	-moz-box-shadow: 10px 10px 1px 0px #aaa;
	-webkit-box-shadow: 10px 10px 1px 0px #aaa;
	-o-box-shadow: 10px 10px 1px 0px #aaa;
	box-shadow: 10px 10px 1px 0px #aaa;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#646809, Direction=134, Strength=1);
}

#tools {
	margin: auto auto;
	margin-top: 20px;
	border: 3px solid #000;
	width: 60%;
	height: 150px;
	background-color: #ffe9c5;

	-moz-box-shadow: 10px 10px 1px 0px #aaa;
	-webkit-box-shadow: 10px 10px 1px 0px #aaa;
	-o-box-shadow: 10px 10px 1px 0px #aaa;
	box-shadow: 10px 10px 1px 0px #aaa;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#646809, Direction=134, Strength=1);
}

.pixel {
	position: absolute;
}
#color {
	text-align: center;
	margin: auto auto;
	margin-top: 100px;
}

#toolbar > .pen{border: 1px solid #fff;}

#toolbar > .pen.pen-white{background-color: #fff;}
#toolbar > .pen.pen-blue{background-color: blue;}
#toolbar > .pen.pen-purple{background-color: #A54BFF;}
#toolbar > .pen.pen-yellow{background-color: yellow;}
#toolbar > .pen.pen-black{background-color: #000;}
#toolbar > .pen.pen-green{background-color: green;}
#toolbar > .pen.pen-pink{background-color: #FF9FE7;}
#toolbar > .pen.pen-red{background-color: red;}

#toolbar {
  position: absolute;
  right: 2em;
  top: 2em;
  bottom: 0;
  text-align: center;
}

#toolbar > .pen {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  margin: .5em;
}